{
  "roles": {
    "src": "{{SRC_ROLE}}",
    "tests": "{{TESTS_ROLE}}"
  },
  "trunk": "{{TRUNK}}",
  "gate_command": "",
  "scan_exclusions": [],
  "scaffolded": false,
  "plugin": {
    "version": "{{PLUGIN_VERSION}}"
  },
  "release": {
    "model": "none"
  }
}
